 <!-- I have created this file - khushi -->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cutive&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE3JQbAXc5bDDP-iM34eViQ5IBoFzrLJKCvMgJA7sg7nGoHHkT&s" />
    <style>
        .container {
		text-align:center;
    	margin-bottom: 12%;
		}
		.navbar-brand{
    	font-family: 'Cutive', serif;
		}
		body{
		background-image: url("https://image.freepik.com/free-photo/full-frame-white-brick-wall_23-2148152833.jpg");
		}
		.my{
 		color: green; 
 		text-align: center;
 		}
		.my1{
		color: red;
		text-align: center;
		}
	textarea{
    margin-left: auto;
    margin-right: auto;
}

    </style>
    <title>Upload Image</title>
  </head>


  <body>
    <nav class="navbar navbar-dark" style="background-color:#6c757d;">
    <a class="navbar-brand" href="#" style="margin-left:9%">Smart Tool</a>
    </nav>

	<br>

	<div class="my">
  		{% if msg1 %}
    	<h4>{{ msg1 }}</h4>
    	{% endif %}
		</div>
	<div class="my1">
  		{% if msg %}
    	<h4>{{ msg }}</h4>
    	{% endif %}
	</div>


    <div class="container">
        <h2 class="display-4">Upload new File</h2>
    	<br>
     	<form method=post enctype=multipart/form-data>
      		<input type=file name=file>
      		<br><br>
    		<input class="btn btn-warning" type="submit" value=upload>
		</form>
	
		<hr size="5px" width="75%" noshade>
    	
    	<h2 class="display-4">Result:</h2>
    	{% if img_src %}
      	<img src="{{ img_src }}">
    	{% endif %}
    	<br>
    	{% if extracted_text %}
        <div class="form-group">
        	<br>
        <label for="exampleFormControlTextarea1"><h5> The extracted text from the image above is:</h5></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" style="max-width:75%">{{ extracted_text }}</textarea>

  </div>
    	{% else %}
        <h5>The extracted text will be displayed here...</h5>
    	{% endif %}

	</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>